@model WEB.Models.EducationalDepartment.AddSpecializationModel
@{
}

<select id="city" asp-for="nameCathedra" asp-items=@Model.newListCathedra; class="sign-up-input">
    <option selected="selected" disabled="disabled">Виберіть спеціальність</option>
</select>