@using BLL.DTO
@model WEB.Views.StudentShtat.AddGruppa
@{
}


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Authorisation</title>

    <link rel="stylesheet" href="~/css/StyleHome.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Login.css" />


</head>


<body>
    <header>

        <div class="child">
            <div class="wrap">
                @*<span class="decor"></span>*@
                <nav>
                    <ul class="primary">
                        <li>
                            <a asp-area="" asp-controller="Student" asp-action="IndexS">Головна</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Student" asp-action="Faculty">Перелік студентів</a>
                            <ul class="sub">
                                <li><a asp-area="" asp-controller="Student" asp-action="AddFaculty">Добавити студента</a></li>
                            </ul>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Student" asp-action="GetGruppa">Перелік груп</a>
                            <ul class="sub">
                                <li><a asp-area="" asp-controller="Student" asp-action="AddGruppa">Додати групу</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="wrap_">
                <nav>
                    <ul class="primary">
                        <li>
                            <a href=""><pre>   Акаунт ▽    </pre></a>
                            <ul class="sub">
                                <li><a asp-area="" asp-controller="account" asp-action="logout">Вихід</a></li>
                            </ul>
                        </li>


                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <div class="sign-up">
        <h1 class="sign-up-title">Додавання групи</h1>



        @using (Html.BeginForm("CreateNewGruppa", "StudentDepartment", FormMethod.Post))
        {
            <div class="error" asp-validation-summary="All"></div>

            <div>
                <input class="sign-up-input" type="text" asp-for="Name" placeholder="Назва групи" autofocus />
            </div>
            <select asp-for="Curator" asp-items=@Model.newListCurator class="sign-up-input">
                <option selected="selected" disabled="disabled">Виберіть куратора</option>
            </select>
            @*<select asp-for="Starosta" asp-items=@Model.newListStarosta class="sign-up-input">
                <option selected="selected" disabled="disabled">Виберіть старосту</option>
            </select>*@
            <div>
                <input class="sign-up-input" type="text" asp-for="Year" placeholder="Курс" />
            </div>
            <select asp-for="Education" asp-items=@Model.newListEducation class="sign-up-input">
                <option selected="selected" disabled="disabled">Виберіть форму навчання</option>
            </select>
            <select asp-for="Cathedra" asp-items=@Model.newListCathedra class="sign-up-input">
                <option selected="selected" disabled="disabled">Виберіть кафедру</option>
            </select>

            <select asp-for="EducLevel" asp-items=@Model.newList class="sign-up-input">
                <option selected="selected" disabled="disabled">Виберіть освітній рівень</option>
            </select>

            <input type="submit" value="Створити" class="sign-up-button">
        }

    </div>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
